html {
    --nav-dimension: 60px;
}

nav {
    float: left;
    display: inline;
    max-width: var(--nav-dimension);
    height: 100vh;
    background-color: #f1ab72;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: block;
    color: white;
    text-decoration: none;
    min-height: var(--nav-dimension);
    line-height: var(--nav-dimension);
}

li {
    min-height: var(--nav-dimension);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:#c23f3f;
}

li:hover {
    background-color: #ce4e4e;
}